root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,xaml,csproj}]
end_of_line = lf
indent_style = space
indent_size = 4

[*.{md,json,yml,yaml}]
end_of_line = lf
indent_style = space
indent_size = 2

[*.sln]
end_of_line = crlf

[*.cmd]
end_of_line = crlf
